<%= form_for @bet do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl class="actions">
	  <dt><%= f.label :title %></dt>
	  <dd><%= f.text_field :title %></dd>
	  <dt><%= f.label :description %></dt>
	  <dd><%= f.text_area :description, :rows => 5, :cols => 50 %></dd>
	  <dt><%= f.label :expires_at %></dt>
	  <dd><%= f.text_field :expires_at %></dd>
		<% i = 0 %>
		<%= f.fields_for :bet_options do |bet_option_fields| %>
		  <dt><%= bet_option_fields.label :label, "Option #{i=i+1}" %></dt>
		  <dd><%= bet_option_fields.text_field :label %></dd>
    <% end %>
		<dt></dt>
		<dd><%= f.submit "Save" %></dd>
  </dl>
<% end %>
