<h1>Listing wagers for <%=@bet.title %></h1>

<table>
  <tr>
		<th>User</th>
		<th>Option</th>
		<th>Amount</th>
		<% if !@bet.active? %>
			<th>Refund</th>
			<th>Win Amount</th>
		<% end %>
    <th></th>
  </tr>

<% @wagers.each do |wager| %>
  <tr <%= "style='font-weight:bold;'" if wager.win? %>>
    <td><%= wager.user.login %></td>
    <td><%= wager.bet_option.label %></td>
    <td><%= wager.amount %></td>
    <td><%= link_to 'Show', bet_wager_path(@bet.id, wager.id) %></td>
		<% if !@bet.active? %>
			<td><%= wager.refund %></td>
			<td><%= wager.win_amount %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wager', new_bet_wager_path %>
<%= link_to 'Back to bet', bet_path(@bet.id) %>